*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
}
nav{
    flex: 1;
    text-align: left;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    color: #000;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}
.row{
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 45%;
    min-width: 100px;
    padding-left: 25px;
}
.col-2 img{
    max-width: 110%;
    padding: 40px 0;
    padding-right: 70px;
}
.col-2 h1{
    font-size: 65px;
    line-height: 80px;
    margin: 15px 0;
}
.button{
    display: inline-block;
    background: #D9863B;
    color: #fff;
    padding: 17px 40px;
    margin: 30px 0;
    border-radius: 8px;
}
.button:hover{
    background: #9e5516;
}
.header{
    background: radial-gradient(#fff, #fff6ef);
}
.header .row{ 
    padding-bottom: 40px;
}
.loginBtn{
    display: inline-block;
    color: #000;
}
.signupBtn{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 13px 20px;
    margin: 30px 0;
    border-radius: 5px;
    margin-left: 20px;
}
.signupBtn:hover{
    background: #D9863B;
}
.navy{
    background-color: #263238;
}
.navy .navBlue{
    display: flex;
    align-items: center;
    padding: 50px;
    padding-left: 90px;
}
.navBlue nav ul{
    display: inline-block;
    list-style-type: none;
}
.navBlue nav ul li{
    display: inline-block;
    margin-left: 125px;
}
.navBlue a{
    text-decoration: none;
    color: #fff;
}
.stage{
    align-items: center;
    max-width: 1500px;
    margin: 40px;
}
.row{
    align-items: center;
    flex-basis: 50%;
    min-width: 20px;
}
.row .col4-1 a{
    display: inline-block;
    background: rgb(255, 252, 252);
    color: #000;
    padding: 90px 120px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.row .col4-2 a{
    display: inline-block;
    background: rgb(255, 252, 252);
    color: #000;
    padding: 90px 55px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.row .col4-3 a{
    display: inline-block;
    background: rgb(255, 252, 252);
    color: #000;
    padding: 90px 140px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.row .col4-4 a{
    display: inline-block;
    background: rgb(255, 252, 252);
    color: #000;
    padding: 90px 90px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.row2{
    align-items: center;
    flex-basis: 500%;
    min-width: 100px;
}
.row2 .text1{
    display: inline-block;
    padding: 20px 120px;
    margin-right: 44px;
    margin-left: 40px;
}
.row2 .text2{
    display: inline-block;
    padding: 20px 55px;
    margin-right: 40px;
    margin-left: 17px;
}
.row2 .text3{
    display: inline-block;
    padding: 20px 140px;
    margin-right: 40px;
    margin-left: 20px;
}
.row2 .text4{
    display: inline-block;
    padding: 20px 90px;
    margin-right: 20px;
    margin-left: 43px;
}
.small-container{
    min-width: 50px;
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
}
.pict{
    align-items: center;
    max-width: 1500px;
    margin: 40px;
}
.title{
    text-align: left;
    font-size: 25px;
    padding-left: 40px;
    margin: 0 auto 20px;
    position: relative;
}
.option{
    align-items: center;
    flex-basis: 50%;
    min-width: 20px;
}
.option .opt1{
    display: inline-block;
    background: #D9863B;
    color: #000;
    padding: 10px 50px;
    margin-left: 33px;
    text-align: center;
    border-radius: 32px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.13);
}
.opt1:hover{
    background: #af692b;
}
.pictures{
    align-items: center;
    flex-basis: 25%;
    padding: 5px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 1s;
}
.pictures .pict1{
    display: inline-block;
    align-items: center;
    padding: 40px 5px;
    margin-left: 25px;
    margin-right: 40px;
    bottom: 0;
    width: 28%;
}
.pict1:hover{
    transform: translateY(-5px) ;
}
.smallContainer{
    min-width: 1200px;
    margin: auto;
}

/*------offer--------*/
.offer{
    background: radial-gradient(#fff, #ffe9d9);
}
.offer .row{
    padding-left: 20px;
    margin: 50px;
    padding: 60px;
}
.col-2 .offer-img{
    padding: 60px;
    border-radius: 25px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.col-2 .buttonBooking .btn{
    display: inline-block;
    background: #D9863B;
    color: #fff;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 8px;
}
.col-2 .buttonBooking .btn:hover{
    background: #af692b;
}

/*------testimonial--------*/
.testimonial{
    padding: 60px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.testimonial .col-3{
    text-align: center;
    font-size: 12px;
    padding: 40px 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    border-radius: 15%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    margin: 12px 0;
    color: #263238;
}
.col-3 h3{
    color: #263238;
}
/*------footer--------*/
.footer{
    background: #263238;
    color: #D9863B;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #D9863B;
}
.footer h4{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    padding-left: 100px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    padding-left: 30px;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: left;
    padding-left: 50px;
    padding-right: 20px;
}
ul{
    list-style-type: none;
}

.app-logo img{
    width: 120px;
}
.footer hr{
    border: none;
    background: #fff;
    height: 0.5px;
    margin: 20px 70px;
}
.copyright{
    text-align: center;
    color: #fff;
}